* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ul li {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #3f4249;
  line-height: 20px;
}

.main-container {
  width: 100%;
  max-width: 450px;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 8px;
}

.main-container > *,
.item-list li {
  padding: 12px;
  border-bottom: 2px solid #e7ebebb2;
  background-color: #fff;
}

.item-list > *:last-child {
  background-color: transparent;
}

ul li .list-con input {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid rgb(165, 165, 165);
}

ul li .list-con {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li .list-con input::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 15%;
  width: 50%;
  height: 25%;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-radius: 20%;
  transform: rotate(-45deg);
  display: none;
}

ul li .list-con input:checked {
  background-color: rgb(24, 155, 24);
}

ul li .list-con input:checked::after{
  display: block;
  text-decoration: line-through;
}

ul li .list-con p {
  color: #34353a;
  font-size: 18px;
  /* text-decoration: line-through; */
}

.linethrough
{
  text-decoration: line-through;
}

.material-icons {
  opacity: 0.6;
}

.heading,
.add-task {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.heading {
  color: #34353a;
  font-size: 17px;
}

.add-task input,
.add-task input:focus {
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
}

.add-task input::placeholder {
  font-style: italic;
  font-size: 16px;
}

#add-todos {
  background-color: #fff;
  padding: 2px;
}

button {
  border: none;
}

.main-container .clearbtn {
  width: 99%;
  background-color: #f8f8ff;
  color: #3f4249;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.main-container .clearbtn:hover {
  opacity: 0.9;
  text-decoration: underline;
}
